<div class="row">
	<div class="col-xs-12 text-center">
		<a href="{{site.url}}">
			<img src="{% for a in site.static_files%}{%if a.name=='logo.png'%}{{site.url}}{{a.path}}{%endif%}{%endfor%}" class="img-fluid" alt="Logo gazetki">
		</a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h4>Gazeta ZSO nr II w Opolu</h4>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="text-right">
			{% if page.nr != nill %}<h4>Numer {{page.nr}}/20{{ page.date | date: '%y' }}</h4>{%endif%}
			{% if page.issue != nill %}<h4>Numer {{page.issue}}/20{{ page.date | date: '%y' }}</h4>{%endif%}
		</div>
		</div>
	</div>
</div>
<hr>